* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}

header h1 {
    margin: 0;
}

header p {
    margin-bottom: 0;
}

/* Main layout */
main {
    display: flex;      /*变成左右排列*/
    min-height: 80vh;   /*至少占浏览器高度的80%*/
}

/* Sidebar
左边课程栏，在html里面叫sidebar
就可以在css里面找到.sidebar{ } */
.sidebar {
    width: 220px;
    padding: 20px;
    background-color: white;
    border-right: 1px solid #ddd;   /*solid是实线，扮演sidebar和content之间的边线*/
}

/*找到.sidebar里面所有button并且应用这个css*/
.sidebar button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;     /*margin是元素外的空间*/ 

    border: none;
    border-radius: 5px;        /*按钮变成圆角*/

    cursor: pointer;           /*鼠标可以点击*/
}

/* Content */
.content {
    flex: 1;
    padding: 40px;
}

/* Week Sidebar */
.week-sidebar {
    width: 220px;
    padding: 20px;

    background-color: #fafafa;

    border-right: 1px solid #ddd;
}

.week-sidebar button {
    width: 100%;

    padding: 10px;

    margin-bottom: 10px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    background-color: #eaeaea;
}

.week-sidebar button:hover {
    background-color: #d5d5d5;
}

/* Note buttons */
#noteContent button {

    display: block;

    width: 100%;

    padding: 12px;

    margin-bottom: 10px;

    text-align: left;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    background-color: white;

    border: 1px solid #ddd;
}


#noteContent button:hover {

    background-color: #f0f0f0;

}

/* Add Note Form */
#noteContent label {

    display: block;

    margin-top: 15px;

    margin-bottom: 5px;

    font-weight: bold;

}


#noteContent input,
#noteContent textarea {

    width: 100%;

    box-sizing: border-box;

    padding: 10px;

    margin-bottom: 15px;

    border: 1px solid #ccc;

    border-radius: 5px;

    font-size: 16px;

}


#noteContent textarea {

    min-height: 200px;

    resize: vertical;

}


.add-note-button {

    margin-top: 15px;

    font-weight: bold;

}

/* Delete Note Button */
.delete-note-button {

    margin-top: 20px;

    padding: 10px 15px;

    cursor: pointer;

}

/* Edit Note Button */
.edit-note-button {

    margin-top: 20px;

    margin-right: 10px;

    padding: 10px 15px;

    cursor: pointer;

}

#noteContent p {
    white-space: pre-wrap;
}